<template>
  <div class="container">
    <div class="product_info">
      <div class="images">
        <div class="activeImg" @click="openImageModal = !openImageModal">
          <img :src="products.images[activeImage]" alt="" />
        </div>
        <div class="image_wrapper">
          <swiper :options="swiperImagesID">
            <swiper-slide v-for="(image, idx) in products.images" :key="idx">
              <div class="image" 
                @click="activeImage = idx"
                :class="{ active: activeImage == idx }">
                <img :src="image" alt="" />
              </div>
            </swiper-slide></swiper>
          <!-- <div
            class="image"
            v-for="(image, idx) in products.images"
            :key="idx"
            @click="activeImage = idx"
            :class="{ active: activeImage === idx }"
          >
            <img :src="image" alt="" />
          </div> -->
        </div>
        <div class="images_modal" v-show="openImageModal" @click="openImageModal= false">
          <swiper class="imageWrapper" :options="swiperModalImages">
            <swiper-slide
              class="imageModal"
              v-for="(image, idx) in products.images"
              :key="idx"
              @click.stop
            >
              <img  @click.stop :src="image" alt="" />
              <!-- <i class="icon-dinkrement" @click="openImageModal = false"></i> -->
            </swiper-slide>
            <div class="swiper-button-prev" @click.stop slot="button-prev"></div>
            <div class="swiper-button-next" @click.stop slot="button-next"></div>
          </swiper>
          <!-- <div class="swiper_pagination">
            <div class="swiper-pagination"></div>
          </div> -->
        </div>
      </div>
      <div class="info">
        <h1 class="produc_title">{{ products.name }}</h1>
        <div class="produc_price">
          <span class="newPrice">{{ products.price }}</span>
          <div class="oldPrice">{{ products.oldPrice }}</div>
        </div>
        <div class="product_characteristics">
          <div
            class="item"
            v-for="(item, idx) in products.characteristics"
            :key="idx"
          >
            <span class="name">{{ item.name }}</span>
            <span class="atribute">{{ item.atribute }}</span>
          </div>
        </div>
        <div class="description">
          <h1 class="subtitle">Описание</h1>
          <p>{{ products.Descriptions }}</p>
        </div>
      </div>
    </div>
    <div class="similar_products">
      <h1 class="section_title">Похожие товары</h1>
      <div class="product_wrapper">
        <swiper :options="swiperSimilarProducts">
          <swiper-slide v-for="(product, idx) in query_array" :key="idx">
            <LayoutsProductCard
          :prod_img="product.images[0]"
          :prod_name="product.name"
          :status_new="product.status"
          :category="product.category"
          :prod_status="product.prod_status"
          :prod_price_new="product.price"
          :prod_price_old="product.oldPrice"
          :reviews = "product.reviews"
          :statusNo="product.statusNo"
          :statusYes="product.statusYes"
          :prod_new="product.prod_new"
          :prod_stock="product.prod_stock"
          :slug="product.id"
        />
          </swiper-slide></swiper>
        
      </div>
    </div>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.min.css";
import productList from "../../frags/productMin.js";
export default {
  components: { Swiper, SwiperSlide },
  data() {
    return {
      itemId: this.$route.params.id,
      product_array: productList,
      query_array: [],
      activeImage: 0,
      productPurchasedNumber: 1,
      activeColor: 0,
      activeDiameter: 0,
      openImageModal: false,
      swiperModalImages: {
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      },
      swiperImagesID: {
        slidesPerView: 3.2,
         loopFillGroupWithBlank: true,
         spaceBetween: 20,
      },
      swiperSimilarProducts: {
        slidesPerView: 4.2,
        loop: true,
        loopFillGroupWithBlank: true,
        spaceBetween: 20,
      },
    };
  },
  methods: {
    addNum() {
      this.productPurchasedNumber++;
    },
    removeNum() {
      if (this.productPurchasedNumber > 1) {
        this.productPurchasedNumber--;
      }
    },
  },
  computed: {
    products() {
      return this.product_array.find((item) => item.id == this.itemId);
    },
    
  },
  mounted() {
    console.log(this.products);
    // this.products();
    this.query_array = this.product_array.filter(item => item.catalog_id === this.products.catalog_id);
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/product.scss";
</style>