<template>
  <div class="container">
    <div class="wrapper">
      <div class="left">
        <h1 class="section_title">Каталог</h1>
        <h6 class="filter_title">Фильтр</h6>
        <div class="filter_block">
          <div class="filter_top" @click="filter_brend = !filter_brend">
            <h5>Бренд</h5>
            <i class="icon-chevron" :style="{
              transform: filter_brend ? 'rotate(180deg)' : 'rotate(0deg)',
            }"></i>
          </div>
          <div class="atribut" v-if="filter_brend">
            <form action="#">
              <p v-for="(category, idx) in catalogArr" :key="category.catalog_id" @click="activeMenu = idx">
                <input type="radio" :id="category.catalog_id" name="category" :checked="activeMenu == idx">
                <label @click="activeMenu = idx" for="test1">{{category.catalog_Name}}</label>
              </p>
            </form>
          </div>

        </div>
        <!--  -->
      </div>
      <div class="right">
        <div class="filter_resault">
          <div class="result">
            <div class="item" v-for="(item, idx) in inputData" :key="idx">
              <span>{{ item }}</span>
              <i class="icon-dinkrement" @click="deleteItem(idx)"></i>
            </div>
          </div>
          <div class="filter_button">
            <span>Сортировать </span> <i class="icon-filter"></i>
          </div>
        </div>
        <div class="contend">
          <LayoutsProductCard 
          v-for="product in query_array" 
          :key="product.id" 
          :prod_img="product.images[0]"
          :prod_name="product.name" 
          :category="product.category"
          :prod_price_new="product.price" 
          :prod_price_old="product.oldPrice"
          :reviews="product.reviews" 
          :statusNo="product.statusNo"
          :statusYes="product.statusYes"
          :prod_new="product.prod_new"
          :prod_stock="product.prod_stock"
          :slug="product.id" />
        </div>
        <div class="paginations">
          <!-- <button class="btn_pagination" v-for="(item, idx) in ceil" :key="idx" @click="activePagination(item)">
            {{ item }}
          </button> -->
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import ProductCard from "../../components/layouts/product-card.vue";
import product_array from "../../frags/productMin.js";
import catalogArr from "../../frags/catalogArr.js";
export default {
  data() {
    // console.log(this.inputData);
    return {
      products: product_array,
      catalogArr: catalogArr,
      activeMenu: 0,
      price_model: 10,
      filter_price: true,
      filter_brend: true,
      inputData: [],
      pagination: {
        limit: 9,
        page: 1,
      },
    };
  },
  components: { ProductCard },
  computed: {
    // offset() {
    //   this.pagination.page = this.$route.query.page || 1;
    //   return (this.pagination.page - 1) * this.pagination.limit;
    // },
    // cutProductArray() {
    //   return this.query_array.slice(
    //     this.offset,
    //     this.offset + this.pagination.limit
    //   );
    // },
    // ceil() {
    //   return Math.ceil(this.query_array.length / this.pagination.limit);
    // },

      query_array() {
      return this.products.filter(item => item.catalog_id === this.activeMenu+1);
    },
  },
  methods: {
    activePagination(item) {
      this.$router.push({
        path: `/catalog`,
        query: {
          page: item
        }
      })
      console.log(item);
      this.pagination.page = item;
    },
    deleteItem(idx) {
      this.inputData.splice(idx, 1);
    },
  },

  //   computed: {

  // },

  // created(){
  //    this.query_array = this.products.filter(item => item.catalog_id === this.activeMenu+1);
  //    console.log(this.activeMenu+1);
  // }
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/catalog.scss";
</style>