@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yd13io');
  src:  url('fonts/icomoon.eot?yd13io#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yd13io') format('truetype'),
    url('fonts/icomoon.woff?yd13io') format('woff'),
    url('fonts/icomoon.svg?yd13io#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-burgerBTN:before {
  content: "\e900";
}
.icon-chevron:before {
  content: "\e901";
}
.icon-chiked:before {
  content: "\e902";
}
.icon-creatOtziv:before {
  content: "\e903";
}
.icon-dinkrement:before {
  content: "\e904";
}
.icon-error:before {
  content: "\e905";
}
.icon-filter:before {
  content: "\e906";
}
.icon-glass:before {
  content: "\e907";
}
.icon-korzian:before {
  content: "\e908";
}
.icon-orderProduct:before {
  content: "\e909";
}
.icon-otziv:before {
  content: "\e90a";
}
.icon-otziv_bg:before {
  content: "\e90b";
}
.icon-profile:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-sendPeoduct:before {
  content: "\e90f";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
