<template>
  <div class="container">
    <h1 class="sectionTitle">О нас </h1>
    <div class="contact_wrapper">
      <div class="info">
        <div class="top">
          <h1>Далеко-далеко за словесными.</h1>
          <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Деревни возвращайся путь рукопись жаренные эта проектах языкового своего родного океана знаках о несколько напоивший за одна на берегу маленький, сих заманивший дал назад это прямо имеет осталось. Вскоре страна не пустился сбить? Переписали залетают переписывается алфавит запятой, рыбного использовало несколько маленькая послушавшись вдали предложения рекламных за свое языком строчка, даже живет меня. Снова себя речью рукописи агентство подзаголовок о продолжил!</p>
        </div>
        <div class="bottom">
          <div class="block">
            <h1 class="address">Наш адрес </h1>
            <div>
              <h6 class="street">Улица Абдулла Кадыри 39 </h6>
              <span class="home">Ташкент 100113, Узбекистан</span>
            </div>
          </div>
          <div class="block">
            <h1 class="contactTitle">Контакты</h1>
            <div class="contactsInfo">
              <span class="phone_number">+998 (99) 321-58-18</span><span class="email">info@Sprinter.uz</span>
              <span class="phone_number">+998 (92) 231-88-22</span><span class="email">info@Sprinter.uz</span>
            </div>
          </div>

        </div>
      </div>
      <div class="location"><iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d237684.54874410233!2d39.70645776025127!3d21.43627674379739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c21b4ced818775%3A0x98ab2469cf70c9ce!2z0JzQtdC60LrQsCDQodCw0YPQtNC-0LLRgdC60LDRjyDQkNGA0LDQstC40Y8!5e0!3m2!1sru!2s!4v1656419441714!5m2!1sru!2s"></iframe>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import '~/assets/styles/contacts.scss';
</style>