<!-- <template>
<div class="container">

    <div class="product_info">
      <div class="images">
        <div class="activeImg" @click="openImageModal = !openImageModal">
          <img :src="product.images[activeImage]" alt="" />
          <p>{{products}}</p>
        </div>
        <div class="image_wrapper" >
        <swiper :options="swiperImagesID">
          <swiper-slide v-for="(image, idx) in product.images" :key="idx">
          <div class="image" 
            @click="activeImage = idx"
            :class="{ active: activeImage == idx }">
            <img :src="image" alt="" />
          </div>
          </swiper-slide>
        </swiper>

        </div>
        <div class="images_modal" v-show="openImageModal" @click="openImageModal = false">
          <swiper class="imageWrapper" :options="swiperModalImages">
            <swiper-slide class="imageModal" v-for="(image, idx) in product" :key="idx" @click.stop>
              <img @click.stop :src="image" alt="" />
              <i class="icon-dinkrement" @click="openImageModal = false"></i>
            </swiper-slide>
            <div class="swiper-button-prev" @click.stop slot="button-prev"></div>
            <div class="swiper-button-next" @click.stop slot="button-next"></div>
          </swiper>
          <div class="swiper_pagination">
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
      <div class="info">
        <h1 class="produc_title">{{ product.name }}</h1>
        <div class="produc_price">
          <span class="newPrice">{{ product.price }}</span>
          <div class="oldPrice">{{ product.oldPrice }}</div>
        </div>
        <div class="product_characteristics">
          <div class="item" v-for="(item, idx) in product.characteristics" :key="idx">
            <span class="name">{{ item.name }}</span>
            <span class="atribute">{{ item.atribute }}</span>
          </div>
        </div>
        <div class="description">
          <h1 class="subtitle">Описание</h1>
          <p>{{ product.Descriptions }}</p>
        </div>
      </div>
    </div>
    <div class="similar_products">
      <h1 class="section_title">Похожие товары</h1>
      <div class="product_wrapper">
        <LayoutsProductCard v-for="product in sliceProductArray" :key="product.id" :prod_img="product.image"
          :prod_name="product.name" :status_new="product.status" :category="product.category"
          :prod_status="product.prod_status" :prod_price_new="product.price" :prod_price_old="product.oldPrice"
          :reviews="product.reviews" :slug="product.id" />
      </div>
    </div>
  </div>




</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.min.css";
import product_array from "../../frags/productMin.js";
export default {
  components: { Swiper, SwiperSlide },
  data() {
    return {
product:[],
      itemId: this.$route.params.id,
      product_array: product_array,
      activeImage: 0,
      openImageModal: false,
      swiperModalImages: {
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      },

      swiperImagesID: {
        slidesPerView: 3.2,
         loopFillGroupWithBlank: true,
         spaceBetween: 20,
      },
      
    };
  },
  methods: {
  },
  computed: {
    product (){
      return this.product_array.find((item) => item.id == this.itemId);
    },
    sliceProductArray() {
      return this.catalog_array.slice(0, 4);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles/product.scss";
</style> -->