// container breakpoints
$xl: 1440px;
$lg: 1260px;
$md: 760px;
$sm: 520px;

// styles
$font_size: 16px;
$font_weight: 400;

// colors
$white: #ffffff;
$black: #000000;
$brand_color: #0092AD;

// indents