* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container_login {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.set_up_1,
.set_up_2{
  width: 100%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 60px; 
}

.input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 590px;
  width: 100%;
  background-color: #f0f0f0;
  height: 60px;
  border-radius: 60px;
  position: relative;
  padding: 18px 35px;
  margin-top: 40px;
  gap: 30px;
}

.icon-glass{
  color: #a1a1a1;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 400;
  font-size: 20px;
  color: #333;
  width: 100%;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  font-size: 20px;
  font-weight: 400;
  margin-top: 25px;
  color: #3FC2CD;
}

.social-media {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.social-icon {

  margin-bottom: 40px;
  transition: 0.3s;
  color: #a2a2a2;
  margin-bottom: 40px;
}

.social-media-line-title{
  max-width: 490px  ;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  color: #a1a1a1;
  line-height: 24px;
}

.social-media-line{
  width: 160px;
  height: 10px;
  background: #3FC2CD;
border-radius: 10px;

}

.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
  a{
    width: 100%;
  }
}

.btn {
  // width: 150px;
  background: linear-gradient(88.11deg, #36BBC8 14.69%, #119AB3 98.4%);
border-radius: 60px;
  padding: 18px 70px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
}

.btn:hover {
  background-color: #4d84e2;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container_login:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  right: 48%;
  transform: translateY(-25%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 35px;
}

.panel p {
  max-width: 635px;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 50px;
  line-height: 30px;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  font-size: 25px;
  padding: 20px 60px;
  letter-spacing: 1px;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container_login.mode:before {
  transform: translate(100%, -25%);
  right: 52%;
}

.container_login.mode .left-panel .image,
.container_login.mode .left-panel .content {
  transform: translateX(-800px);
}

.container_login.mode .signin-signup {
  left: 25%;
}

.container_login.mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container_login.mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container_login.mode .right-panel .image,
.container_login.mode .right-panel .content {
  transform: translateX(0%);
}

.container_login.mode .left-panel {
  pointer-events: none;
}

.container_login.mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container_login {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container_login.mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container_login:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-25%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container_login.mode:before {
    transform: translate(-25%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container_login.mode .left-panel .image,
  .container_login.mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container_login.mode .right-panel .image,
  .container_login.mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container_login.mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container_login {
    padding: 1.5rem;
  }

  .container_login:before {
    bottom: 72%;
    left: 50%;
  }

  .container_login.mode:before {
    bottom: 28%;
    left: 50%;
  }
}
