.sectionTitle {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}

.contact_wrapper {
  display: flex;
  height: 750px;
  background: #DFF1F4;
  margin-bottom: 150px;

  .info{
    width: 55%;
    height: 100%;
  }

  .location{
    width: 45%;
    height: 100%;
  }

  .info {

    h1{
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 28px;
    }

    .top {
      height: 60%;
      padding: 60px 60px 40px 60px;
      border-bottom: 1px solid #000;

     p{
      font-size: 20px;
    font-weight: 300;
    line-height: 26px;
     }
    }

    .bottom {
      height: 40%;
      padding: 40px 60px 60px 60px;

      .block{
        height: 120px;
        display: flex;
        justify-content: space-between;


      }


      .street {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 13px;
      }

      .home {
        font-size: 20px;
        font-weight: 300;
      }


      .contactsInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        // gap: 20px 45px;

        span{
          margin: 0 0 20px 20px;
          display: inline-block;
        }


      }

      .phone_number {
        font-size: 20px;
        font-weight: 500;

      }

      .email {
        font-size: 20px;
        font-weight: 400;
      }

      .socialTitile {
        font-size: 20px;
        font-weight: 400;
        margin-top: 40px;
        text-align: center;
      }

      .social_wrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 45px;
      }
    }
  }

  .location {


    iframe {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
  }
}