<template>
  <div class="wrapper">
    <Header/>
    <Nuxt/>
    <aboutUs/>
    <Footer/>
  </div>
</template>

<script>
import Header from '../components/layouts/Header'
import aboutUs from '../components/aboutUs.vue'
import Footer from '../components/layouts/Footer'
export default {
  components: {
    Header,
    Footer,
    aboutUs
  }
}
</script>

<style>

</style>