<template>
  <div class="container">
    <home_slider />
    <section class="new_product">
      <div class="new_product_wrapper">
        <CatalogWrapper :options="swiperProducts"
        v-for="catalog in catalogs"
        :key="catalog.catalog_id"
        :catalogName="catalog.catalog_Name"
        :viewAll="catalog.view_all_text"
        :catalogId="catalog.catalog_id"
        />
      </div>
    </section>
    <section class="reviews">
      <h1 class="section_title">Отзывы</h1>
      <div class="reviews_wrapper"></div>
      <swiper :options="swiperReviews">
        <swiper-slide v-for="review in reviews" :key="review.id">
          <div class="review">
            <div class="top">
              <div class="name">
                <h1>{{ review.reviewsNmae }}</h1>
                <span>{{ review.reviewsDate }}</span>
              </div>
              <div class="review_star">
                <i class="icon-otziv"></i><i class="icon-otziv"></i
                ><i class="icon-otziv"></i><i class="icon-otziv"></i
                ><i class="icon-otziv"></i>
              </div>
            </div>
            <div class="reviews_content">
              <h1 class="review_title">{{ review.reviewsTitle }}</h1>
              <p class="review_subtitle">
                {{ review.reviewsSubtitle }}
              </p>
            </div>
          </div>
        </swiper-slide>
      </swiper>
    </section>
  <section>
    <!-- <aboutUs/> -->
  </section>
  </div>
</template>

<script>
import reviews from "../frags/reviews.js";
import home_slider from "../components/home_slider.vue";
import CatalogWrapper from "../components/layouts/catalogWrapper.vue";
import catalog_array from "../frags/catalogArr.js";
// import aboutUs from "../components/aboutUs.vue"
// import productc_card from "../components/layouts/product-card.vue";
// import product_array from "../frags/productMin.js";
import Advertisings from "../components/advertisings.vue";
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.min.css";
export default {
  components: { home_slider, Advertisings, Swiper, SwiperSlide, CatalogWrapper},
  data() {
    return {
      catalogs: catalog_array,
      // product_array: product_array,
      reviews: reviews,
                swiperProducts: {
        slidesPerView: 4.1,
        spaceBetween: 20,
        loop: true,
        autoplay: {
          delay: 3000,
        },
      },
      stock_banner: {
        slidesPerView: 1.5,
        spaceBetween: 20,
        loop: true,
        autoplay: {
          delay: 3000,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      },
      swiperReviews: {
        slidesPerView: 2,
        spaceBetween: 20,
        loop: true,
        autoplay: {
          delay: 3000,
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/styles/home.scss';
</style>