<template>
  <div class="container">
    <div class="catalog_wrapper">
      <div class="catalog_title">
        <h1 class="section_title">{{ query_menu.catalog_Name }}</h1>
      </div>
      <div class="products">
        <div v-for="product in query_array" :key="product.id">
          <product_Card :prod_img="product.images[0]" :prod_name="product.name" :status_new="product.status"
            :category="product.category" :prod_status="product.prod_status" :prod_price_new="product.price"
            :prod_price_old="product.oldPrice" :reviews="product.reviews" :slug="product.id"
            :statusNo="product.statusNo" :statusYes="product.statusYes" :prod_new="product.prod_new"
            :prod_stock="product.prod_stock" />
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import product_array from "../frags/productMin.js";
import catalogArr from "../frags/catalogArr.js";
import product_Card from "../components/layouts/product-card.vue";
export default {
  components: { product_Card },
  data() {
    return {
      product_array: product_array,
      catalogArr: catalogArr,
      query_array: [],
      query_menu: {},
    };
  },
  mounted() {
    console.log(this.$route.query.id)
    this.query_menu = this.catalogArr.find(item => item.catalog_id == this.$route.query.id);
    console.log(this.query_menu);
    this.query_array = this.product_array.filter(item => item.catalog_id === this.query_menu.catalog_id);
  },
}
</script>

<style>

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px 0;
}
</style>