<template>
  <div class="catalog_wrapper">
    <div class="catalog_title">
      <h1 class="section_title">{{catalogName}}</h1>
      <h2 @click="sendID">{{viewAll}}<i class="icon-arrow-up-right2"></i></h2>

    </div>
    <swiper :options="swiperProducts">
    <swiper-slide v-for="product in query_array"
            :key="product.id">
               <product_Card
            :prod_img="product.images[0]"
            :prod_name="product.name"
            :status_new="product.status"
            :category="product.category"
            :prod_status="product.prod_status"
            :prod_price_new="product.price"
            :prod_price_old="product.oldPrice"
            :reviews="product.reviews"
            :slug="product.id"
            :statusNo="product.statusNo"
            :statusYes="product.statusYes"
            :prod_new="product.prod_new"
            :prod_stock="product.prod_stock"
          />
    </swiper-slide>

    </swiper>

  </div>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import product_array from "../../frags/productMin.js";
import product_Card from "./product-card.vue";

export default {
  components: { Swiper, SwiperSlide, product_Card },
  props: {
    catalogName: {
      type: String,
      default: ""
    },
    viewAll: {
      type: String,
      default: ""
    },
    catalogId: {
      type: Number,
      // default: ""
    }
  },
  data() {
    return {
      product_array: product_array,
          swiperProducts: {
        slidesPerView: 4.2,
        spaceBetween: 20,
        loop: true,
        autoplay: {
          delay: 3000,
        },
      },

    };
  },

  
  computed: {
    query_array() {
      return this.product_array.filter(item => item.catalog_id === this.catalogId);
    },
  },

  methods: {
    sendID() {
        this.$router.push({
        path: `/view-product`,
        query: {
          id: this.catalogId
        }
      })
    },
  },
}
</script>

<style lang="scss" >

.catalog_wrapper{
  margin-bottom: 40px;
  width: 100%;

  .catalog_title{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .section_title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}

  h2{
    font-size: 18px;
    color: #8c8c8c;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover{
      color: #366d9e;
    }
    i{
      transform: rotate(45deg);
      margin-left: 10px;
      font-size: 20px;
    }
  }
}
}

</style>